services:
  db:
    image: postgres:15-alpine
    container_name: task_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_PASSWORD}
    volumes:
      - task_db_data:/var/lib/postgresql/data # reference postgre doc (path where persistent data is stored in container)
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro # reference postgre doc (tables will be empty without this path)
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: task_backend
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}
      DB_NAME: ${DB_NAME}
      DB_PORT: ${DB_PORT}
    depends_on:
      - db
    ports:
      - "8001:8001"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: task_frontend
    environment:
      - VITE_API_BASE_URL=http://backend:8001
    depends_on:
      - backend
    ports:
      - "8080:8080"

volumes:
  task_db_data: # this block here is what makes my data persistent (docker manages it itself)
